@import "../../global.css";

.content-product {
    margin-top: 50px;
}

/* Heading */

.content-product .heading {
    margin-bottom: 50px;
}

.content-product .product-item .product-info .product-name,
.content-product .align-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-product .align-heading h3 {
    font-size: 28px;
    font-weight: 600;
    color: var(--icon-color);
}

.content-product .align-heading .button-add {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: var(--root-color);
    padding: 15px 20px;
    border-radius: 5px;
    text-align: center;
}

/* End Heading */

/* Product List */

.content-product .product-list {
    display: grid;
    position: relative;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.content-product .product-list .simple-spinner {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.simple-spinner span {
    display: block;
    width: 40px;
    height: 40px;
    border: 3px solid transparent;
    border-radius: 50%;
    border-right-color: var(--root-color);
    animation: spinner-anim 0.8s linear infinite;
  }

  @keyframes spinner-anim {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }

.content-product .product-list.empty {
    display: block;
    text-align: center;
}

.content-product .product-list.empty h3 {
    font-size: 35px;
    font-weight: 600;
    color: rgb(207, 207, 207);
}

.content-product .product-item {
    border-radius: 8px;
    background: white;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.content-product .product-item .product-image {
    width: 100%;
    height: 250px;
    border-radius: 8px;
    background: #ccc;
}

.content-product .product-item .product-image img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
}

.content-product .product-item .product-info {
    padding: 20px;
    border-radius: 0px 0px 8px 8px;
}

.content-product .product-item .product-info .product-cost,
.content-product .product-item .product-info .product-name {
    margin-bottom: 15px;
}

.content-product .product-name h4 {
    font-size: 18px;
    font-weight: 600;
}

.content-product .product-name .product-category {
    font-size: 14px;
    font-weight: 500;
    color: #9D9D9D;
}

.content-product .product-item .product-cost {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.content-product .product-cost i {
    font-size: 20px;
    color: var(--root-color);
}

.content-product .product-cost {
    font-weight: 500;
    color: var(--root-color);
}

.content-product .product-buttons {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.content-product .product-buttons .button-delete,
.content-product .product-buttons .button-edit {
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    padding: 12px 20px;
    border-radius: 8px;
    border: 1.5px solid var(--icon-color);
    color: var(--icon-color);
    width: 70%;
    text-align: center;
    background-color: transparent;
    cursor: pointer;
}

.content-product .product-buttons .button-delete {
    width: 30%;
}

/* End Product List */

/* Pagination */
.content-product .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    margin: 40px 0px;
}

.content-product .pagination .page-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    background: #e4e4e4;
    color: var(--icon-color);
}

.content-product .pagination .page-link.active {
    background: var(--root-color);
    color: white;
}