@import "../global.css";
@import "./header.css";

@import "./dashboard.css";
@import "./product.css";

.main-body {
    padding: 30px 20px 0px 20px;
    width: 100%;
    min-height: 100vh;
    background-color: var(--background-body);
}