@import "../global.css";
@import "./header.css";

@import "./dashboard.css";

.main-body {
    padding: 30px 20px 0px 20px;
    width: 100%;
    min-height: 100vh;
    background-color: var(--background-body);
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 99px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}